Repository charlesrocket/xtxf, pull requests merged in 2024-09, with the labels that each got.

#6 fix: fixed memory leak (`rain` buffer)
  src/main.zig
Labels: feature

#8 fix: resolve expanding `chars`
  src/main.zig
Labels: test

#10 fix: implement cooldown
  src/main.zig
Labels: enhancement
